<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>odata2sparql.v4</display-name>
    <servlet>
        <servlet-name>OData2SparqlServiceServlet</servlet-name>
        <servlet-class>com.inova8.odata2sparql.RdfODataServlet</servlet-class>
        <init-param>
            <param-name>configFolder</param-name>
            <param-value>/var/opt/inova8/odata2sparql</param-value>
        </init-param>
        <init-param>
            <param-name>repositoryFolder</param-name>
            <param-value>V4</param-value>
        </init-param>
        <init-param>
            <param-name>repositoryUrl</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OData2SparqlServiceServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
<!--     <servlet>
        <servlet-name>ViewStatusMessages</servlet-name>
        <servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStatusMessages</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping> -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,PUT,OPTIONS</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allow.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>